# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/

# Environment variables
.env

# Database
*.db
*.sqlite3

# IDE / Editors
.vscode/
.idea/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/
